// Fraunces 144 Semibold
@font-face {
    font-family: 'Fraunces 144';
    src: url(../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
    font-style: normal;
}

// Manrope Regular
@font-face {
    font-family: 'Manrope';
    src: url(../fonts/manrope/Manrope-VariableFont_wght.ttf);
    font-style: normal;
}