@import "./_normalize";
@import "./_variables";
@import "./_fonts";

/* GLOBAL STYLES */

* {
  font-family: "Manrope";
  font-size: $body-responsive;
}


h1 {
  font-family: "Fraunces 144";
  font-size: $heading-l-mobile;
}

h2 {
  font-family: "Fraunces 144";
  font-size: $heading-m-mobile;
}

h3 {
  font-family: "Fraunces 144";
  font-size: $heading-s-mobile;
}

p {
    line-height: 29px;
    
}

.pattern-1,
.pattern-2,
.pattern-3 {
    position: absolute;
    display: none;
}

.button-primary {
    background-color: $accent;
    color: $primary800;
    padding: 13px 25px;
    border: solid transparent 2px;
    transition-duration: 600ms;
    &:hover,
    &:focus {
        background: transparent;
        border: solid  2px $accent;
        color: $accent;
    }
}

.button-secondary {
   color: $secondary;
   border-bottom: solid 3.2px $accent; 
   transition-duration: 600ms;
   &:hover,
   &:focus {
    color: $accent;
   }
}

/* HEADER & HERO */


header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: $primary800;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $secondary;
    padding: 0 1rem;
    overflow: hidden;
    position: relative;
    &:before {
        content: "";
        width: 300%;
        z-index: -20;
        height: 60vh;
        border-radius: 0 0 100% 100%;
        background: $primary800;
        position: absolute;
        top: -160px;
        left: 50%;
        transform: translateX(-50%);
    }

    &:after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -40;
        background: $primary200;
        padding-top: 200%;

    }

    .button-secondary {
        font-size: $heading-l-mobile;
        font-family: 'Fraunces 144';
    }
    
    .smartphone {
        width: 320px;
        margin: 60px 0;
    }
}

/* SECTIONS */

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary400;
    padding: 0 1rem;
    overflow: hidden;
    position: relative;
    &:before {
        content: "";
        width: 300%;
        z-index: -40;
        height: 200px;
        padding-top: 200%;
        border-radius: 0 0 100% 100%;
        background: $primary200;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .step {
        margin: 40px 0;
    }

    .number {
        display: inline-block;
        width: 48px;
        color: $primary800;
        font-family: 'Fraunces 144';
        font-size: 20px;
        border: solid 1px $primary400;
        border-radius: 50%;
        padding: 1rem 0.2rem;
    }

    h3 {
        color: $primary800;
    }
}

.call-to-action {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 300px 0 74px 0;

    figure > img {
        width: 281px;
        position: absolute;
        top: -45%;
        left: 50%;
        transform: translate(-50%);
        z-index: -20;
    }

    .card {
        text-align: center;
        background-color: $primary800;
        color: $secondary;
        padding: 1rem 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 74px 0 64px 0;
    .social-links {
        display: flex;
        gap: 1rem;
    }
}

/* MEDIA QUERIES */


// Tablet
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
    h1 {
        font-size: $heading-l-tablet;
    }
      
    h2 {
        font-size: $heading-m-tablet;
    }
      
    h3 {
        font-size: $heading-s-tablet;
    }

    .pattern-1,
    .pattern-2,
    .pattern-3 {
        display: block
    }

    .pattern-1 {
        left: -12rem;
        top: 0;
    }

    .pattern-2 {
        top: 12rem;
        right: -5rem;
    }

    .pattern-3 {
        bottom: -5.5rem;
        right: 2rem;
    }

    .hero {

        .button-secondary {
            font-size: $heading-l-tablet;
        }

        .smartphone {
            width: 514px;
        }

        &:before {
            height: 70vh;
        }
    }

    .service-description {
        
        .number {
            padding: 1rem;
        }

        .step {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            padding: 0 5rem;
            
            .step-content {
                text-align: left;
            }
            
        }
    }

    .call-to-action {

        position: relative;

        figure > img {
            width: 281px;
            left: 156px;
            top: -180px;
        }
        
        .card {
            position: relative;
            width: 68%;
            text-align: left;
            margin: 0 0 0 10%;
            align-items: flex-start;
        }

    }
    
  }

// Desktop
@media only screen and (min-width: 1024px) {

    * {
        font-size: $body-desktop;
    }

    h1 {
        font-size: $heading-l-desktop;
    }
      
    h2 {
        font-size: $heading-m-desktop;
    }
      
    h3 {
        font-size: $heading-s-desktop;
    }

    .pattern-1,
    .pattern-2,
    .pattern-3 {
        display: block
    }

    .pattern-1 {
        top: 0;
        left: -6rem;   
    }

    .pattern-2 {
        top: 15rem;
        right: -3rem;
    }

    .pattern-3 {
        bottom: -5rem;
        right: 5rem;
    }

    header {
        padding: 2rem 5rem;
    }

    .hero {

        .button-secondary {
            font-size: $heading-l-desktop;
        }

        .smartphone {
            width: 767px;
        }

        &:before {
            width: 400%;
            height: 75vh;
        }

    }

    .service-description {
        flex-direction: row;
        padding: 0 5rem;
        align-items: center;
        height: 960px;

        &:before {
            top: -2200px;
        }
    }

    .call-to-action {

        position: relative;

        figure > img {
            width: 477px;
            left: 35%;
            top: -180px;
        }
        
        .card {
            position: relative;
            width: 730px;
            text-align: left;
            margin-left: 30%;
            align-items: flex-start;
        }

    }

    footer {
        margin: 150px 0;
    }

}

